

  ul, ol {

    margin: 1rem;
    li {
      margin: .5rem 0;
    }
  }
ol {
  margin-bottom: 2rem;
}

.title {
  margin-bottom: .5rem;
}
.subtitle {
  margin-bottom: 2.5rem;
  color: var(--color-grey);
  font-size: 1rem;
  .blog-date {
   color: inherit;
  }
  .reading-time {
    color: inherit;
  }
}