.blockquote {
    background-color: hsl(50, 5, 97);
    margin: 3em 0;
    padding: 3rem;
    border-radius: 5px;

}
.react-icon {
    margin-top: 50px;
}
.quote {
    color: #3D748F;
}
.author {
    color: #BEC2C2;
    font-weight: bold;
    text-align: right;
    display: block;
}